<div class="container">
	<h1 class="blog_top"><i class="fa fa-pencil"></i> New Blog Post <i class="fa fa-pencil"></i></h1>

	<%= render 'form' %>

	<%= link_to 'Back', blog_posts_path, class: "btn btn-info" %>
</div>
