
<!--The below code will contain information for the header -->
<div class="container header">
	<h1 class="resume_header"><strong>Mike Cuddy</strong></h1>
</div>

<div class="container catch">
	<p class="catch_p"><strong>A Marine who became an Intelligence officer who followed his dreams
		to become a developer...</strong></p>
</div>

<!-- Start of the summary elements -->
<div class="container sumtop">
		<h3 class="about"><strong>My Story...</strong></h3>
	<div class="container sumbox">
			<p class="catch1"><%= image_tag "trail.jpg", class: "image_resume1" %>
			In early 2015, I chose to take a leap in a new direction and immerse myself in 
			learning full stack web development. I attended the coding bootcamp
			<a href="http://techtalentsouth.com/" class="catch_tag">Tech Talent South</a> to 
			invest serious time and effort toward my new passion and jump start my journey toward 
			becoming a full stack web developer. My casual interest in web development has now become 
			a guiding passion and I am excited to bring that passion to my next pursuit. </p>
		<p class="catch1">The experience I have earned in the Marine Corps and C.I.A. has awarded me confidence and 
			ability to accomplish tasks in a timely manner. I am a strong leader with well developed 
			and proven organizational, problem solving, analytical and time management skills.
			<%= image_tag "trail.jpg",class: "image_resume2" %> 
			Comfortable with technical and non-technical people on all levels of an organization. 
			I look forward to bringing my ambition and passion for knowledge and my past professional 
			work experience in team-oriented environments.</p>
		<p class="catch1">Finally, I have fully immersed myself in the Atlanta tech community attending meetups, conferences 
				as well as hackathons to grow as a developer. I continue to learn by staying up to date with latest 
				languages and technologies that will help me achieve those goals. </p>
		<p class="catch1">I am looking for a junior level web developer position in the Atlanta area, where I can continue my 
			learning and pursue my new passion for solving problems through code. Please feel free to contact me with 
			any development opportunities. </p>
	</div>
</div>
<!--The below code will contain information for the left column -->
<div class="container">
	<div class="row">
		<div class="col-md-6 master_work">
			<div class="work_header">
				<h3 class="work">Work History</h3>
			</div>
			<h4 class="work_sub"><b>Junior Developer at Lamp Camp</b> <br> Atlanta, Georgia <br> </h4>
			<p class="work_desc">			                			      
			•	PHP Developer - Built a variety of global e-commerce applications using the LAMP stack 
			  (Linux, Apache, MYSQL and PHP) in an Agile environment.<br>
			•	Familiar with Object Oriented Programming, DRY, MVC Frameworks and RESTful architecture.	<br>
			</p>
			<h4 class="work_sub"><b>Google contractor with Adecco</b> <br> Atlanta, Georgia <br>
					Field Operations Specialist 2014 to 2014 </h4>
			<p class="work_desc">				                			      
			•	Part of an 8-person team conducting field operations to collect data and map locations of buildings 
				and facilities in support of Google Maps.<br>
			•	Participated in the refinement of multiple Google products by evaluating and recommending necessary 
				actions to facilitate the launch of these products.<br>
			•	Planned and performed survey operations in a geographically dispersed area while managing expenditures 
				efficiently and transmitting data back to headquarters.
			</p>
			<h4 class="work_sub"><b>C.I.A. (Central Intelligence Agency)</b><br> Washington D.C. <br>
			   Logistics Officer 2009 to 2014</h4>
			<p class="work_desc">	
			•	Developed 12 Standard Operating Procedures (SOPs) and worked with management to implement the SOPs to 
			  improve processes and work flows. <br>
			•	Managed several hundred items of government equipment and materials valued over $1M. <br>
			•	Used procurement metrics to help form a large team, which would centralize logistics at the CIA. <br>
			•	Part of a team which designed and implemented a new user interface dashboard to track all procurements 
			  and property at the CIA.<br>
			•	Designed a spreadsheet to monitor and track several hundred procurements at a new office in the CIA.  
			</p>
			<h4 class="work_sub"><b>Guilford Mills</b><br> Wilmington N.C. <br>
			Lean Engineer	2008 to 2009</h4>
			<p class="work_desc">	
			•	Used lean principals (5s, Kaizan, standard work, value stream mapping) to reduce and prevent 
				unnecessary expenditures.<br>
			•	Led a lean assistant in ensuring lean principals were followed. </p>
			<h4 class="work_sub">
				<b>U.S. Marine Corps</b><br>
			Logistics Officer, Captain						       			     2008 to 2008</h4>
			<p class="work_desc">	
			•	Monitored over 50 host nations and 10 military convoys that transported food, fuel, 
				ammunition and major end items on the Eastern side of Afghanistan.<br>
			•	Wrote a new convoy operations manual for the Tactical Operations Center that allowed 
				for a better movement control system of all convoys in the battalion.<br>
			<h5 class="work_sub"><b>Executive Officer, 1st  Lieutenant </b> 2007 to 2008 </h5>
			<p class="work_desc">	    
			•	Provided leadership to over 160 Marines as well as maintained over 200 pieces of motor transport 
				equipment valued in excess of $25 million.<br> 
			•	Established regulations and Standard Operating Procedures for Truck Company Bravo.<br>
			</p>
			<h5 class="work_sub"><b>Logistics/Embarkation Officer, 1st Lieutenant </b>2007 to 2007</h5>
			<p class="work_desc">	
			•	Planned and coordinated all logistical support for over 1,000 Marines and sailors as well as 
				managing over $350,000 in contracts for a month long military exercise in South Korea.<br>
			</p>
			<h5 class="work_sub"><b>Motor Transport Platoon Commander, 2nd Lieutenant</b> 2005 to 2007</h5>
			<p class="work_desc">	
			•	Created a curriculum to train, develop and prepare 41 Marines for a deployment to Camp Fallujah Iraq 
				in a critical time frame of three months.<br>
			•	Planned and commanded 79 convoys, resulting in the delivery of over 181,000 gallons of fuel and water, 
				300 barriers, 180 International Organization for Standardization containers, and 430 passengers.<br>
			</p>
		</div>
			<!--The below code will contain information for the right column -->
				<div class="col-md-6 master_other">
					<div class="work_header">
						<h3 class="work">Other Information</h3>
					</div>
					<h3 class="other other_sub"><b>Education</b></h3>
						<p class="other_desc">
							<strong>Webster University</strong>, Master of Science in International Relations, 2012<br>
							<strong>University of California at Davis</strong>, Bachelor of Arts in History and Political Science, 2004
						</p>
					<h3 class="other other_sub"><b>Certifications</b></h3>
						<p class="other_desc">
							<b>SQL Level 1:</b> Introduction to SQL, Emory University, Emory Continuing Education <br>
							<b>Fundamentals of Information Technology</b>, Emory University, Emory Continuing Education<br>
							<b>Health Information Technology</b>, Emory University, Emory Continuing Education<br> 
							<b>Six Sigma Green Belt Fundamentals</b>, Syracuse University<br>
							<b>The Data Scientist's Toolbox</b>, Coursera<br>
						</p>
					<h3 class="other other_sub"><b>Technical Skills</b></h3>
						<p class="other_desc">
							Proficiency with Microsoft Office Suite, HTML 5/CSS, SQL and Cognos Analysis Studio <br> 
							Experience with Ruby, Ruby on Rails, PHP and Javascript <br>
							Beginner Level Experience with Python and Microsoft Access
						</p>
					<h3 class="other other_sub"><b>Personality Profile</b></h3>
						<p class="other_desc">
							<b>Learner:</b> I am drawn to the process of learning about others and the world.<br> 
							<b>Input:</b> I am inquisitive-I love collecting information about the world and applying it.<br>
							<b>Intellection:</b> I love to think and having my mind move. I love the challenge of having new
							ideas come into my mind</br>
							<b>Context:</b> I take lessons, that I have learned my my past, and apply those lessons to my present
							condition.</br>
							<b>Connectedess:</b> I am considerate, caring and accepting of others from all different backgrounds.
						</p>
					<h3 class="other other_sub"><b>Awards</b></h3>
						<ul class="awards"><b>Military Awards:</b></ul> 
							<li class="awards_list">Joint Service Commendation Medal</li>
							<li class="awards_list">Navy and Marine Corps Achievement Medal X2</li>
							<li class="awards_list">Iraq Campaign Medal</li>
							<li class="awards_list">Afghanistan Campaign Medal</li>
						</ul>
						<ul class="awards"><b>CIA Awards:</b></ul> 
							<li class="awards_list">Excellent Performance Award X4</li>
						</ul>
					<h3 class="other other_sub"><b>Volunteer Experience</b></h3>
						<ul></ul> 
							<li class="awards_list">Gwinnett Veterans Memorial Museum</li>
							<li class="awards_list">The Mission Continues</li>
							<li class="awards_list">Gwinnett County Public Library</li>
						</ul>
					<h3 class="other other_sub"><b>Organizations</b></h3>
						<ul></ul> 
							<li class="awards_list"><a href="http://www.tagonline.org/" >Technology Association of Georgia (TAG)</a></li>
							<li class="awards_list"><a href="http://www.meetup.com/codeforatlanta/">Code for Atlanta</a></li>
							<li class="awards_list"><a href="http://www.meetup.com/atlantaphp/">Atlanta PHP meetup</a></li>
							<li class="awards_list"><a href="http://www.meetup.com/atlantaruby/">Atlanta Ruby Meetup</a></li>
						</ul>
						<div class="container photo">
  					</div>
				</div>
			</div>
</div>

</body>



