<div class="jumbotron">
  <section id="banner" > 
    <div class="inner">
      <h3>Mike Cuddy</h3>
      	<hr>
      <p class="inner_font">Veteran / Web Developer</P>
    </div>
  </section>
</div>

